spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mall?serverTimezone=UTC&allowMultiQueries=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: abcd

mybatis:
  mapper-locations: classpath:mapper/**.xml
  type-aliases-package: com.chy.template.db.faker.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl